<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/angular-route.js"></script>
    <script src="../Scripts/ngDialog.js"></script>
    <script src="../Scripts/ngDialog.min.js"></script>
    <script src="app.js"></script>
    <script src="services/dataService.js"></script>
    <script src="controllers/dashboardCtrl.js"></script>
    <script src="controllers/NavMenuCtrl.js"></script>
    <script src="controllers/projectDetailsCtrl.js"></script>
    <script src="controllers/projectEditCtrl.js"></script>

</head>
<body>
    <h2>Management Information System</h2>
    <div ng-app="dashMIS">
        <!--<div ng-controller="dashboardCtrl">
            <input type="text" ng-model="sms" />
            <input value="click me!" type="button" ng-click="getData()" />
            <h2> {{sms}} </h2>
            <h3> {{returnVal}} </h3>
        </div>-->
        
        <div ng-view> </div>
    </div>
</body>
</html>
