<H1>This is from Project Details</H1>
<div class="container">
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Project Id</th>
                <th>Name</th>
                <th>Department</th>
                <th>Edit using Partial</th>
                <th>Edit using Modal</th>                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projectsData">
                <td>{{project.id}}</td>
                <td>{{project.name}}</td>
                <td>{{project.dept}}</td>
                <td><button ng-click="onEdit(project)">Edit Details</button></td>
                <td><button ng-click="onEditModal(project)">Edit in popup</button></td>                
            </tr>
        </tbody>
    </table>
</div>